.add{
  height: 105vh;
}

form{
    margin: 0 auto;
    max-width: 500px;
    height: 105vh;
}

label {
    display: block; 
    font-size: 16px;
    float: left;
    font-weight: bold;
}
  
  input {
    width: 100%; 
    font-size: 20px;
    margin-bottom: 50px; 
    box-sizing: border-box;
    padding: 5px;
}

  button[type="submit"] {
    display: block; 
    width: 100%; 
    padding: 10px; 
    background-color: #007bff; 
    color: #fff; 
    border: none; 
    cursor: pointer; 
}

  button[type="submit"]:hover {
    background-color: #0056b3; 
}